<header>
  <div class="container">
    <nav class="navbar">
      <img src="../../assets/Images/logo.png" alt=''>
      <ul class="links">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Categories</a>
        </li>
        <li>
          <a href="#">Sponsors</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
      </ul>
      <div class="svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="180" height="50" viewBox="0 0 210 67" fill="none">
        <path d="M1 44.1122V66C48.0918 66 162.306 65.3367 165.49 65.3367C196 65.3367 209.265 45.4388 209.265 24.8776V1C161.952 1 47.1615 1.54725 43.449 1.66327C22.2245 2.32653 1 12.9388 1 44.1122Z" fill="#292929" stroke="#292929"/>

      </svg>
      <div class="text-over-svg">Register</div>
      </div>
    </nav>
  </div>
</header>
