<div class="home">
  <img src="../../assets/Images/Subject.jpg" alt="">
  <div class="overlay-text">
    <div class="main-text">
      Startup Advice <span class="from">from</span><br>
      World Class Experts
    </div><br><br><br>
    <div class="sub-text">
      <div class="position">VERIFIED EXPERT</div>
      <div class="name">Kate Kendall</div>
      <div class="description">Founder and CEO of CloudPeeps. Created The Fetch.</div><br>
    </div>
    <div class="buttons">
      <div class="svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="270" height="66" viewBox="0 0 288 66" fill="none">
          <path d="M1 43.5005V65.3883L243.724 65.3883C274.235 65.3883 287.5 45.4903 287.5 24.9291V1.05156C240.187 1.05156 47.1615 0.935549 43.449 1.05156C22.2245 1.71483 1 12.3271 1 43.5005Z" fill="#292929" stroke="#292929"/>
        </svg>
      </div>
      <div class="text-over-svg">
        <a routerLink="/profile-card">Find your Mentor</a>
      </div>
      <span class="more">
        <a href="#">Learn more</a>
      </span>
    </div>
  </div>
</div>
<div class="browse">
  <app-browse></app-browse>
</div>
<div class="topics">
  <app-topics></app-topics>
</div>
