<div class="browse">
  <div class="work">How it works</div>
  <div class="step">Step-by-Step</div>
  <div class="step">
    <div class="step-1">
      <div class="text-1">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="29" viewBox="0 0 40 29" fill="none">
            <path d="M1 18.9625V28.2132L20.959 28.2132C33.8539 28.2132 39.4604 19.8035 39.4604 11.1134V1.02179C19.464 1.02179 20.5097 0.97276 18.9407 1.02179C9.97035 1.30212 1 5.78729 1 18.9625Z" fill="#292929" stroke="#292929"/>
          </svg>
          <div class="text-over-svg">1</div>
        </div>
      </div>
      <div class="text-2">
        <div class="head-1">Find an Expert</div>
        <div class="body-1">Browse our community of experts to find the right one for you.</div>
      </div>
    </div>
    <div class="step-2">
      <div class="text-1">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="29" viewBox="0 0 40 29" fill="none">
            <path d="M1 18.9625V28.2132L20.959 28.2132C33.8539 28.2132 39.4604 19.8035 39.4604 11.1134V1.02179C19.464 1.02179 20.5097 0.97276 18.9407 1.02179C9.97035 1.30212 1 5.78729 1 18.9625Z" fill="#292929" stroke="#292929"/>
          </svg>
          <div class="text-over-svg">2</div>
        </div>
      </div>
      <div class="text-2">
        <div class="head-1">Request a Call</div>
        <div class="body-2">At this time, you will be pre-charged for the estimated length of the call, based on the expert's per-minute rate.</div>
      </div>
    </div>
    <div class="step-1">
      <div class="text-1">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="29" viewBox="0 0 40 29" fill="none">
            <path d="M1 18.9625V28.2132L20.959 28.2132C33.8539 28.2132 39.4604 19.8035 39.4604 11.1134V1.02179C19.464 1.02179 20.5097 0.97276 18.9407 1.02179C9.97035 1.30212 1 5.78729 1 18.9625Z" fill="#292929" stroke="#292929"/>
          </svg>
          <div class="text-over-svg">3</div>
        </div>
      </div>
      <div class="text-2">
        <div class="head-1">Connect Directly</div>
        <div class="body-1">Call the conference line provided. After the call, the charge will be adjusted to reflect the actual length of the call.</div>
      </div>
    </div>
  </div>
  <div class="nd_section">
    <div class="svg-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="270" height="66" viewBox="0 0 288 66" fill="none">
        <path d="M1 43.5005V65.3883L243.724 65.3883C274.235 65.3883 287.5 45.4903 287.5 24.9291V1.05156C240.187 1.05156 47.1615 0.935549 43.449 1.05156C22.2245 1.71483 1 12.3271 1 43.5005Z" fill="#292929" stroke="#292929"/>
      </svg>
      <div class="overlay-text">
        <a href="/profile-card">Find Experts</a>
      </div>
    </div>
  </div>
</div>


