.how-it-works{
  background-color: white;
  margin: 3vh 0 3vh 17vh;
  border-radius: 4vh;
  padding: 5vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 4vh;
}

.down{
  display: flex;
  flex-direction: row;
}

.no{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5vh;
}

.num{
  position: absolute;
  font-size: 1.2rem;
  top: 28%;
  left:48.5%;
  font-weight: 700;
}

.step{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1vh;
}

.step1{
  text-align: center;
  padding: 0 5vh 0 5vh;
  font-size: 1.05rem;
  opacity: 0.6;
  margin-bottom: 2vh;
}

/* .down1{

} */
